body{
    padding: 5px;
}

p{
    margin: 0px;
}

.new{
    display: flex;
    flex-wrap: wrap;
}

.ssss{
    margin-bottom: 15px;
    overflow: hidden;
}

.test__task {
    max-width: 790px;
    display: flex;
    flex-wrap: wrap;
}

.input{
    background-color: inherit;
    outline: none;
    margin: 0;
    border: inherit;
}

.underline{
    border-bottom: 1px dashed black;
}

.hidden{
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transform: translateY(-110%);
}

.test__table__data {
    padding: 8px;
    min-width: 260px;
    max-width: 260px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.up{
    margin-right: 5px;
    cursor: pointer;
}

.down{
    margin-right: 5px;
    cursor: pointer;
}

.btn1{
    background-color: inherit;
    border: none;
    color: blue;
    text-decoration: underline;
}